body {
    background: #ff00cc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: fantasy;
}

.text1{
    font-family: 'Courier New', Courier, monospace;
}

.margin-window{
  display: block;
  text-align: center;
  margin: 50px;
}

.game-title{
  text-align: center;
  margin: 10px 10px;
  color: #fff;
  font-family: monospace;
}

.game-subtitle{
  text-align: center;
  margin: 10px 10px;
  color: #fff;
  font-family: monospace;
}

